@charset "UTF-8";
/* CSS Document */

body { 
	font-family:"Bitter", "Consolas", Helvetica, sans-serif;
	background:#F8F8F8;
	border-top:6px solid #3389C9;
}

header {
	background:white;
	width:100%;
	height:160px;
	margin:0 auto;
}

.profile-img{
	width:200px;
	position:absolute;
	top:25px;
	left:20px;
}

.contact-bar {
	height:140px;
	margin-left: 240px;
	padding-top:10px;
}

h1 {
	font-size:25px;
	margin-bottom:15px;
}

h3 {
	font-size:20px;
	margin-bottom:5px;
}

.contact-bar ul {
	display:inline-block;
}

.contact-bar li{
	list-style:none;
}

.contact-info {
	display:inline-block;
	line-height:2em;
}

.contact-left {
	margin-left:25px;
}

.contact-right {
	margin-left:74px;
}

.buttons {
	display:inline-block;
	vertical-align:top;
	position:absolute;
	top:27px;
	right:20px;
}

.buttons {
	text-align:right;
}

.buttons li {
	display:inline-block;
	margin-right:10px;
}

.contact-bar a {
	text-decoration:none;
	color:#3289C9;
}

.contact-bar a:hover {
	text-decoration:none;
	color: #1F609A;
}

/* Contact Icons */

.location:before {
	content: "";
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 100px;
	left: 236px;
	background-image: url(assets/globe.png);
	background-size: 100%;
}

.speech:before {
	content: "";
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 134px;
	left: 236px;
	background-image: url(assets/speech.png);
	background-size: 100%;
}

.email:before {
	content: "@";
	font-size: 25px;
	color: #818181;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 129px;
	left: 460px;
}

.phone:before {
	content: "";
	height: 20px;
	width: 15px;
	display: block;
	position: absolute;
	top: 102px;
	left: 463px;
	background-image: url(assets/phone.png);
	background-repeat: no-repeat;
	background-size: 100%;
}




/* Content */

.content {
	margin-left: auto;
	margin-right:auto;	
	margin-top:70px;
	width:800px;
}
	
.container{
	border-top:7px solid #3389C9;
	padding: 10px;
	background:white;
	margin-bottom:30px;
}

.container p {
	line-height:1.5em;
}

.img_container {
	margin-bottom: 30px;
	background: #FFFFFF;
	padding: 10px;
}

.family {
	width:100%;
}

.list {
	margin-left:30px;	
	margin-top:10px;
	line-height:1.8em;
}

.software li{
	list-style:none;
	display:inline-block;	
}

.software img {
	width:80px;
}

.webdev {
	width:80px;
}

@media screen and (max-width: 840px) {
	.content{ 	
	margin-left: 20px;	
	margin-top:70px;
	width:95%;
}

}


@media screen and (max-width: 740px) {
	header {
	background:white;
	width:100%;
	height: 250px;
	margin:0 auto;
}
	
	.contact-bar ul {
		display:block;
}

	.contact-right {
		margin-left:25px;
	}
	
	.buttons {
		position:static;
		margin-top:10px;
		margin-left:25px;
		
}

	.content {
	margin-left: 20px;	
	margin-top:40px;
	width:95%;
	}
	
	.container{
		border-top:7px solid #3389C9;	
}

.phone:before {
	content: "";
	height: 20px;
	width: 15px;
	display: block;
	position: absolute;
	top: 165px;
	left: 241px;
	background-image: url(assets/phone.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.email:before {
	content: "@";
	font-size: 25px;
	color: #818181;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 192px;
	left: 238px;
}
}

@media only screen and (max-width: 525px) {

header {
	height: 230px;
	width: 90%;
	margin-top: 241px;	
		}
		
.profile-img {
	display: block;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -100px;
}

.contact-bar {
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding: 10px 5px 10px 5px;
	border-top: 7px solid #3389C9;
}
		
.buttons {
	position: static;
	width: 100%;
	margin-top: 10px;
	margin-left: 0px;	
	text-align:center;
}
		
.buttons li {
	display: block;
	margin-top:15px;
}
		
.buttons a {
	display:block;
	width:100%;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	color: white;
	border-radius: 10px;						
}

.contact-bar .buttons a {
	color:white;
}

.contact-bar .buttons a:hover {
	color: white;
}

/* Contact Icons */
.location:before {
	content: "";
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 348px;
	left: 30px;
	background-image: url(assets/globe.png);
	background-size: 100%;
}		

.speech:before {
	content: "";
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 382px;
	left: 31px;
	background-image: url(assets/speech.png);
	background-size: 100%;
}

.phone:before {
content: "";
height: 20px;
width: 15px;
display: block;
position: absolute;
top: 415px;
left: 34px;
background-image: url(assets/phone.png);
background-repeat: no-repeat;
background-size: 100%;
}

.email:before {
content: "@";
font-size: 25px;
color: #818181;
height: 20px;
width: 20px;
display: block;
position: absolute;
top: 440px;
left: 31px;
}
		
.resume {
	padding-top: 20px;
    background-color: #3489C9;
}

.resume:hover {
    background-color: #036FCC;
}

.contact-me {
	padding-top: 20px;
    background-color:#ED1C24;
}

.contact-me:hover {
    background-color: #CD0018;
}

.content {
	margin-top:170px;	
}
		
.container {
	width:95%;	
}
		
		.img-container {
			width: 95%;
			padding: 10px;
			background: white;
			margin-bottom:30px;
		}
		
		.family {
			width:100%	
		}
}

@media screen and (max-width: 450px) {
/* Contact Icons */
.location:before {
	left: 26px;
}		

.speech:before {
	left: 27px;

}

.phone:before {
	left: 30px;
}

.email:before {
	left: 27px;
}
	
}

@media screen and (max-width: 400px) {
/* Contact Icons */
.location:before {
	left: 23px;
}		

.speech:before {
	left: 24px;

}

.phone:before {
	left: 27px;
}

.email:before {
	left: 24px;
}
	
}