@charset "UTF-8";
/* CSS Document */



* {
}

body {
    width: 100%;
	font-family:"Bitter", "Consolas Bold", Helvetica, sans-serif;
	background-color:#F3F4F4;
}

.top {
	margin-bottom:10px;
	width:100%;
	height:10px;
	background:#3489c9;
}


.header {
	position:relative;
	width:100%;
	margin:0 auto;
}

.profile_img {
    width: 90%;
    display: block;
    margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
	z-index:1;
}


.contact {
    margin: 0 auto;
	padding-left:20px;
	position:relative;
	top:0px;
	left:auto;
	right:auto;
	background:white;
	margin-top:20px;
	background:#FFFFFF;
	padding:10px;
	width:100%;
}


h1 {
	position:absolute;
	top:20px;
	left:20%;
	color:white;
    font-size: 2em;
	margin-bottom:20px;
	z-index:2;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size:20px;
	margin-bottom:10px;
}

p {
	line-height:140%;
}


ul {
	margin-top:10px;
	margin-left:40px;
}

li {
	line-height:140%;
	margin-top:10px;
}


ul {
	margin-top:10px;
	margin-left:40px;
}


.location {
    display: inline;
}

.location:before {
    content: "";
    height: 25px;
    width:25px;
    display:block;
    position: absolute;
	top:40px;
	left:16px;
    background-image: url(assets/globe.png);
    background-size: 100%;
}

.speech {
    display: block;
	margin-top:20px;
	margin-bottom:20px;
}

.speech:before {
    content: "";
    height:25px;
    width:25px;
    display:block;
    position: absolute;
	top:82px;
	left:17px;
    background-image: url(assets/speech.png);
    background-size: 100%;
}

.email:before {
	content: "";
    height:25px;
    width:25px;
    display:block;
    position: absolute;
	top:126px;
	left:17px;
    background-image: url(assets/envelope_black.png);
	background-repeat:no-repeat;
    background-size: 100%;
}

.phone:before {
	content: "";
    height:27px;
    width:20px;
    display:block;
    position: absolute;
	top:155px;
	left:21px;
    background-image: url(assets/phone.png);
	background-repeat:no-repeat;
    background-size: 100%;
}

.button_wrap {
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
}

.button {
    display: block;
    height: 60px;
    width:90%;
    margin: 0 auto;
    margin-bottom: 10px;
	text-align:center;
	font-family:"Bitter", "Consolas Bold", Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:white;
	border-radius:10px;
}


.resume {
	padding-top: 40px;
    background-color: #3489C9;
}

.resume:hover {
    background-color: #036FCC;
}

.contact_me {
	padding-top: 30px;
	padding-bottom: 10px;
    background-color:#ED1C24;
}

.contact_me:hover {
    background-color: #CD0018;
}

.contact_me:active {
    background-color: #CD0018;
}

.envelope {
	margin-bottom:10px;
	width:50px;
	vertical-align:middle;
}

.content {
	width:90%;
	margin:0 auto;
}

.container {
	margin-top:20px;
	background:#FFFFFF;
	padding:10px;
	width:100%;
}

.contact_list a {
	color: #3489C9;
	text-decoration:none;
}

.contact_list li{
		list-style: none;
}

.software ul {
	margin-left:0px;
}

.family {
	width:100%;
}

.software li {
	display:inline-block;
}

.adobe {
	width:5em;
}

.webdev {
	width:5em;
}

.bottom {
	margin-top:10px;
	width:100%;
	height:40px;
	background:#3489c9;
}


