@charset "UTF-8";
/* CSS Document */

body {
	font-family:"Bitter", "Consolas", Helvetica, sans-serif;
	background:#F3F3F3;
}

h1 {
	font-size:20px;
	margin-top:10px;
	margin-left:7px;
	margin-bottom:15px;
	color:#676767;
}

h2 {
	font-size:18px;
}

h3 {
	color:white;
}

.container p{
	padding:10px;
	line-height:1.5em;
}

.container ul {
	margin-left:40px;
}

.container li {
	line-height:1.5em;
}

header {
	height:130px;
	border-top:6px solid #3389C9;
}

.profile_img {
	width:185px;
	position:absolute;
	top:15px;
	left:25px;
	border-radius:5px;
}

.button_wrap {	
	position:absolute;
	top:20px;
	right:20px;
}

.button_wrap a{
	color: #62A2D2;
	text-decoration:none;
}

.resume {
	display:inline-block;
	float:left;
	border-radius:5px;
	text-align:center;
}

.contact_me {
	display:inline-block;
	float:right;
	border-radius:5px;
	margin-left: 20px;
	text-align:center;
	
}

.resume:hover {
	text-decoration:none;
	color:#3389C9;
}

.contact_me:hover {
    text-decoration:none;
	color:#3389C9;
}

.contact_bar {
	width:100%;
	height: 115px;
	padding-top:15px;
	padding-left:220px;
	background:white;
	boder:1px solid;
}

.contact a{
	text-decoration:none;
	color:#62a2d2;
}

.contact a:hover{
	text-decoration:none;
	color:#3389C9;
}

.contact li {
	list-style:none;
	line-height:1.7em;
	margin-left:30px;
	color:#818181;
}

.contact ul {
	display:inline-block;
}

.contact ul:nth-of-type(2) {
	margin-left:20px;
}

.location:before {
    content: "";
    height: 20px;
    width:20px;
    display:block;
    position: absolute;
	top:69px;
	left:225px;
    background-image: url(assets/globe.png);
    background-size: 100%;
}

.speech:before {
    content: "";
    height:20px;
    width:20px;
    display:block;
    position: absolute;
	top:98px;
	left:225px;
    background-image: url(assets/speech.png);
    background-size: 100%;
}

.email:before {
	content: "@";
	font-size:25px;
	color:#818181;
    height:20px;
    width:20px;
    display:block;
    position: absolute;
	top:66px;
	left:425px;
 
}

.phone:before {
	content: "";
    height:22px;
    width:15px;
    display:block;
    position: absolute;
	top:96px;
	left:427px;
    background-image: url(assets/phone.png);
	background-repeat:no-repeat;
    background-size: 100%;
}

/** END HEADER **/

.content {
	display:block;
	width:90%;
	margin-top:80px;
	margin-left: 25px;
}

.container {
	padding-bottom:10px;
	padding-right:5px;
	margin-bottom:20px;
	background:#FFFFFF;
	width:100%;
}

.container_top{
	padding:6px 0px 5px 5px;
	margin-top:20px;
	background-color:#3389C9;
	height:25px;
	width:100%;
}

.img_container {
	margin-top: 20px;
	background: #FFFFFF;
	padding: 10px;
}

.family {
	width:100%;
}

.software {
	padding-top:10px;
}

.software ul {
	margin-left:5px;
}

.software li {
	display:inline-block;
}

.adobe {
	width:80px;
}

.webdev {
	width:80px;
}

span {
	font-style:italic;
	text-indent: 2em;
	display:block;
	color: #818181;
}



/*
.envelope {
	margin-bottom:10px;
	width:50px;
	vertical-align:middle;
}

*/



/**
body {
    width: 100%;
	font-family:"Bitter", "Consolas Bold", Helvetica, sans-serif;
	background-color:#F3F4F4;
}

.top {
	margin-bottom:10px;
	width:100%;
	height:10px;
	background:#3489c9;
}


.header {
	position:relative;
	width:90%;
	margin:0 auto;
}

h1 {
	font-size:40px;
	margin-bottom:10px;
}

.profile_img {
    width: 100%;
    display: block;
    margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
	border-radius:10px;
}


.contact {
    margin: 0 auto;
	padding-left:20px;
	position:relative;
	top:0px;
	left:auto;
	right:auto;
	background:white;
	margin-top:20px;
	background:#FFFFFF;
	padding:10px;
	width:100%;
}


h2 {
	font-size: 40px;
}

h3 {
	color:white;
	font-size:20px;
}

.contact h3 {
	color:black;
	margin-bottom:15px;
}

p {
	line-height:140%;
	padding:10px 0px 0px 10px;
}


ul {
	margin-left:40px;
}

li {
	line-height:140%;
	margin-top:10px;
}



.location {
    display: inline;
}

.location:before {
    content: "";
    height: 25px;
    width:25px;
    display:block;
    position: absolute;
	top:45px;
	left:16px;
    background-image: url(assets/globe.png);
    background-size: 100%;
}

.speech {
    display: block;
	margin-top:20px;
	margin-bottom:20px;
}

.speech:before {
    content: "";
    height:25px;
    width:25px;
    display:block;
    position: absolute;
	top:87px;
	left:17px;
    background-image: url(assets/speech.png);
    background-size: 100%;
}

.email:before {
	content: "@";
	font-size:30px;
	color:black;
    height:25px;
    width:25px;
    display:block;
    position: absolute;
	top:129px;
	left:17px;
 
}

.phone:before {
	content: "";
    height:27px;
    width:20px;
    display:block;
    position: absolute;
	top:160px;
	left:21px;
    background-image: url(assets/phone.png);
	background-repeat:no-repeat;
    background-size: 100%;
}

.button_wrap {
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
}

.button {
    display: block;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
	text-align:center;
	font-family:"Bitter", "Consolas Bold", Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:white;
	border-radius:10px;
}


.resume {
	padding-top: 20px;
    background-color: #3489C9;
}

.resume:hover {
    background-color: #036FCC;
}

.contact_me {
	padding-top: 12px;
	padding-bottom: 10px;
    background-color:#ED1C24;
}

.contact_me:hover {
    background-color: #CD0018;
}

.contact_me:active {
    background-color: #CD0018;
}

.envelope {
	margin-bottom:10px;
	width:50px;
	vertical-align:middle;
}

.content {
	width:90%;
	margin:0 auto;
}

.container {
	padding-bottom:10px;
	padding-right:5px;
	margin-bottom:20px;
	background:#FFFFFF;
	width:100%;
}

.img_container {
	margin-top: 20px;
	background: #FFFFFF;
	padding: 10px;
	width: 100%;
}


.container_top{
	padding:5px 0px 5px 5px;
	margin-top:20px;
	background-color:#3389C9;
	height:25px;
	width:100%;
}

.contact {
	overflow: auto;
}

.contact_list a {
	color: #3489C9;
	text-decoration:none;
}

.contact_list li{
		list-style: none;
}

.software ul {
	margin-left:0px;
}

.family {
	width:100%;
}

.software li {
	display:inline-block;
}

.adobe {
	width:5em;
}

.webdev {
	width:5em;
}

span {
	font-style:italic;
	text-indent: 2em;
	display:block;
	color: #3289C9;
}

.bottom {
	margin-top:10px;
	width:100%;
	height:40px;
	background:#3489c9;
}

*/


