@charset "UTF-8";
/* CSS Document */
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */ html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


/** Custome Css **/

body {
	padding-top:20px;
	background-image:url(images/party.jpg);
	background-size:cover%;
	background-repeat:no-repeat;
}

.container {
	width:750px;	
	margin:0 auto;
	margin-bottom:10px;
	position:relative;
}

.heading {
	text-align:center;	
	font-size: 25px;
	height:40px;
	width:620px;
	background: rgba(4,4,4,.6);
	color:rgba(255,255,255,1);
	padding-top:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;	
}

.row {
	float:left;
	display:inline-block;	
	height:40px;
	border-bottom:1px solid rgba(109,109,109,1);
	border-top:1px solid rgba(255,255,255,1);
	width:610px;
	padding-top:20px;
	padding-left:10px;
	background: rgba(235,235,235,1);
}

.row-bottom {
	float:left;
	text-align:center;	
	height:40px;
	width:610px;
	padding-top:20px;
	padding-left:10px;
}

label {
	display:inline-block;
}

.label-text {
	border:0px;
	box-shadow:none;
	background:none;
}

input {
	display:inline-block;
}

button {
	padding:15px;	
}


.quater {
	width:145px;	
}

.three-quater {
	width:400px;	
}

.spacer {
	margin-left: 155px;	
} 

/** Balloons **/
.bln-name {
	border-radius: 7px;
	width: 130px;
	padding: 5px;
	display: block;
	position:absolute;
	top:43px;
	left:628px;
	color:white;
	display:none;
}

.input-name:focus + .bln-name{
	display: block;
}

.bln-address {
	border-radius: 7px;
	width: 130px;
	padding: 5px;
	display: block;
	position:absolute;
	top:115px;
	left:628px;
	color:white;
	display:none;
}

.input-address:focus + .bln-address{
	display: block;
}

.bln-city {
	border-radius: 7px;
	width: 130px;
	padding: 5px;
	display: block;
	position:absolute;
	top:180px;
	left:628px;
	color:white;
	display:none;
}

.input-city:focus + .bln-city{
	display: block;
}

.bln-zip {
	border-radius: 7px;
	width: 130px;
	padding: 5px;
	display: block;
	position:absolute;
	top:180px;
	left:628px;
	color:white;
	display:none;
}

.input-zip:focus + .bln-zip{
	display: block;
}

.balloon {
transition: background-color .5s;
  background-color: none;	
}

.input:focus + .balloon{
	display: block;
	background-color:gray;
}

/** Colored Rows **/
.check-spacer {
 margin-left:23px;	
}

.check-invite {
	position:relative;
	top:329px;
	left:-610px;	
}

.check-invite {
	position:relative;
	top:329px;
	left:-610px;	
}

.check-drinks {
	position:relative;
	top:370px;
	left:-610px;	
}

.check-dancing {
	position:relative;
	top:410px;
	left:-610px;	
}

.check:checked + .row {
	background: rgba(243,236,198,1);		
}