/* CSS Document */
html, body {
  background: #E6E7E8;
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

header {
  background: #c3c3c3;
  border-bottom: 1px solid #8c8c8c;
}

.header-logo {
  width: 15em;
  margin-top: 10px;
}

h1 {
  font-size: 1.3em;
}

.content {
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
}

.content-title {
  font-size: 1.5em;
  padding: 0px;
  margin: 4px 0px;
}

.contentbar {
  padding: 15px 15px;
  margin-top: 10px;
}
.contentbar h2 {
  color: white;
  margin: 0px;
}

.contentbar-events {
  background: #ED4645;
}

.contentbar-promo {
  background: #0F93B7;
}

footer {
  color: white;
  background: #313131;
  height: 160px;
}
footer li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.footer-upper {
  text-align: center;
  background: #282828;
  border-bottom: 1px solid #464646;
  padding: 10px 0px;
}
.footer-upper h2 {
  font-size: 1.3em;
  padding: 0px;
  margin: 0px;
}

.footer-lower {
  border-top: 10px solid rba(10, 10, 10);
}

.footer-logo {
  width: 25%;
  opacity: .3;
}
.footer-logo:hover {
  opacity: 1;
}
