@charset "UTF-8";
/* CSS Document */



body {
	background: #E6E7E8;
	padding-top:51px;
	height: 100%;	
}

.wrap {
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.container{}

.hero {
	width:100%;
}

.content-title {
	font-size: 1.5em;
	padding:0px;
	margin:4px 0px;
}

.contentbar{
	padding:15px 15px;
	margin-top:10px;

	h2 {
	color:white;
	margin:0px;
	}
}

.contentbar-events {
	background: #ED4645;
}

.contentbar-promo {
	background: #0F93B7;	
}


footer {
	color:white;
	background: rgba(49,49,49,1);
	height:160px;
}

.footer-upper {
	text-align:center;	
	background:rgba(47,47,47,1);
	padding:10px 0px;

	h2 {
	font-size:1.3em;
	padding:0px;
	margin:0px;
	}
}


.footer-lower {
	padding:10px 0px;	
}

footer li {
	list-style:none;
	display:inline-block;
	margin-right:20px;	
}

.footer-logo {
	width:25%;
	opacity: .3;

	&:hover {
	opacity:1;
	}
}

