body {
	font-family: 'Bitter', serif;
}

header {
	background-color:#F4F4F4;
	text-align:center;
}

.header-logo {
	width: 158px;
	margin-top: 20px;

}

header h2 {
	font-family: "Bitter", sans-serif;
	font-size:20px;	
}


.icon {
	text-align:center;
}

.icon-wrap h2,img {
	margin:0 auto;	
}

.icon-wrap img {
	width:120px;	
}

.icon h2 {
	margin:0px;
	padding:0px;
}


footer {
	color:white;	
}

footer ul {
	list-style:none;
}

.footer-upper {
	height:60px;
	text-align:center;
	padding-top:20px;
	border-bottom:1px solid black;
	background:background: rgb(51,51,51); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzJiMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(43,43,43,1) 96%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(96%,rgba(43,43,43,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(43,43,43,1) 96%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(43,43,43,1) 96%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(43,43,43,1) 96%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(43,43,43,1) 96%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */


}

.footer-lower {
	height:200px;
	border-top: 1px solid #4f4e4e;
	background:#393838;

} 



/** LOCATION CSS **/

.location-header {
	height:145px;
	color:white;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}

.location-header img {
	width:100%;	
}

.blur {
	background: rgba(4,4,4, .5);
	position: absolute;
	left: 0;
    text-align: center;
    bottom: 0;
}

.location-arrow {
	position:absolute;
	top:20px;
	right:15px;	
	font-size:20px;
}