

header, body, html {
    height:100%;
}

header {
	
	background-image:url(assets/bg-2.png);
	background-attachment:fixed;
}

header img {
	height: 100%;
	position: relative;
	top: 0px;
	left: -239px;
	
}

header, section {
    height:100%;
	padding:5px 0px;
}



.bg2 {
	background-image:url(assets/bg.png);
	background-attachment:fixed;
	
}


.header-content {
    margin-top: 50px;
    padding: 10px 0px;
    color: white;
    background-color: rgba(0,0,0, .5);
    border-radius: 15px;
}



h1, h2 {
    text-align: center;
    color: black;
}

h1 {
    font-size:4em;
    margin-top: 198px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;

}

header h2 {
    font-size: 2em
}

header ul, li {
    list-style: none;
    font-size: 1.5em;
}

.badges img {
	width:19%;
	display:inline-block;	
}
