header, body, html {
    height:100%;
}

header, section {
    height:100%;
	padding:5px 0px;
}


/** Custom Nav styles **/

.navbar-nav {
	margin-left: 110px;
}

.flag {
	width: 100px;
	position: absolute;
	top: 0px;
	left: 25px;
	z-index: 10000;
}



/** Full-page header background **/
header {
	position: relative;
	background: url(assets/header-image.png) no-repeat center center fixed; 
 }

/** The shaded box in the header **/
.header-content {
	position: relative;
	top: 325px;
	left: 0px;
	width:100%;
    padding: 10px 0px;
    color: white;
    background-color: rgba(0,0,0, .5);
    text-align: center;
    color: white;
}

h1 {
	font-family: 'Bowlby One SC', sans;
    font-size:3.5em;
    margin-bottom: 0px;
}

/*kerry added style for the copy in section 2*/
/*I want this box to be the same width as the 2 images above, can you help? Or maybe it's the pictures that need adjusting? Free mending is lined up correctly too...It's not a big deal, just bugs me!*/
.col-md-12.boxed-type {
	background-color: #303030;
/*	margin: 0 15 0 15;*/
}

.inverse-type1 {
	text-align: center;
	font-size: 2.5em;
	color: grey;
	padding-top: 20px;
	padding-bottom: 10px;

}
.inverse-type2 {
	text-align: center;
	font-size: 2.5em;
	color: white;
	padding-bottom: 30px;

}

header h2 {
	margin-top: 0px;
    font-size: 2em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}



/** "100%" text horizontally aligned **/
header li {
	display: inline-block;
	padding: 10px;
}

header li {
    list-style: none;
    font-size: 2.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/** Makes the words in  the span tag italic **/
header li span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

section h2 {
	font-family: 'Bowlby One SC', sans;
	font-size: 30px;	
	text-align: center;
}

.tagline {
	margin-top: 0px;
    font-size: 2em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

/** Section 2 Styles I wanted to try transparency in this section, pasted style from section 1 but it didn't apply transparency.**/
.section2 {
	height: 100%;
	background-color: lightgrey;
/*	background-color: rgba(0,0,0, .5);*/
}





/** Section 3 Styles **/

.section3 {
	background-color: #cccc66;
	height: 520px;
}
h4 {
	font-weight: bold;
	font-size: 1.5em;
}



/** Section 4 Styles **/
.section4 {
	background-color: rgba(0, 1, 0, .5);
}
.badges img {
	width:19%;
	display:inline-block;	
}


/** Form and About us Styles "Bottom" **/
.bottom {
	margin-top:90px;	
}

.form {
	text-align: left;
}

legend{
	border: none;
}

.radio-box {
	display:none;	
}

.img-profile {
	display: inline-block;
	max-width: 115px;
	margin-left: 8px;
}






/** Section 5 Styles **/


footer {
	background-color: black;
}