body, html {
    height:100%;
}

header {
    height:100%;
	padding:5px 0px;
}

/** Custom Nav styles **/

.navbar-nav {
	margin-left: 110px;
}

.flag {
	width: 100px;
	position: fixed;
	top: 0px;
	left: 25px;
	z-index: 10000;
}

/** Full-page header background **/
header {
 	background: url(assets/header-image.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 	z-index: 1;
 }

 .hoodie {
 	position: fixed;
 	margin: 0 auto;
 }

/** The shaded box in the header **/
.header-content {
	position: fixed;
	top: 325px;
	left: 0px;
	width:100%;
    padding: 10px 0px;
    color: white;
    background-color: rgba(0,0,0, .5);
    text-align: center;
    color: white;
}

h1 {
	font-family: 'Bowlby One SC', sans;
    font-size:3.5em;
    margin-bottom: 0px;
}

section {
	position: relative;
	z-index: 1000;
	background-color: lightgray;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*kerry added style for the copy in section 2*/
/*I want this box to be the same width as the 2 images above, 
can you help? Or maybe it's the pictures that need adjusting? 
Free mending is lined up correctly too...It's not a big deal, 
just bugs me!*/

header h2 {
	margin-top: 0px;
    font-size: 2em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

/** "100%" text horizontally aligned **/
li {
	list-style: none;
}

header li {
	display: inline-block;
	padding: 10px;
}

header li {
    font-size: 2.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/** Makes the words in  the span tag italic **/
header li span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

section h2 {
	font-family: 'Bowlby One SC', sans;
	font-size: 30px;	
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.section3 h2 {
	margin-bottom: 70px;
}

section h3 {
	text-align: center;
}


.form {
	margin-bottom: 10px;
}

.tagline {
	margin-top: 0px;
	margin-bottom: 20px;
    font-size: 2em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}



/** Section 2 Styles I wanted to try transparency in this 
section, pasted style from section 1 but it didn't apply 
transparency.**/

.section2 {
}

.boxed-type {
	background: rgba(0,0,0, 1);
	background-clip: content-box;
}

.inverse-type1 {
	text-align: center;
	font-size: 2em;
	color: grey;
	padding-top: 20px;
	padding-bottom: 0px;

}
.inverse-type2 {
	text-align: center;
	font-size: 2em;
	color: white;
	padding-bottom: 20px;
}


/** Section 3 Styles **/

.section3 {

}
h4 {
	font-weight: bold;
	font-size: 1.5em;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/** Section 4 Styles **/
.section4 {
}

.section4 h3{
	margin-top: 0px;
	text-align: left;
	font-weight: bold;
}

.section4 ul, li {
	padding-left: 0px;
	margin-left: 0px;
}

.badges {
	text-align: center;
}

.badges img {
	width: 13%;
	margin-right: 40px;
	display:inline-block;	
}
.badges h3 {
	text-align: left;
}
.badge-li {
	list-style: none;
}

.badge-li li {
	display: inline-block;
	position: relative;
	padding:0px; 
	font-size: 20px;
	margin-bottom: 1em;
	color: black;
}

.section4 span {
	position: absolute;
	top: 0;
	left: -30px;
	color:red;
}

/** Form and About us Styles "Bottom" **/
.bottom {
	margin-top:90px;	
}

.form-header {
	margin-top: 0px;
}

.form {
	text-align: left;
}

legend{
	border: none;
}

.radio-box {
	display:none;	
}

.img-profile {
	display: inline-block;
	max-width: 115px;
	margin-left: 8px;
}

.story h3{
	text-align: left;
}





/** Section 5 Styles **/

.section5 {
}

/** Footer Styles **/

footer {
	background-color: black;
	padding: 20px 0px;
	position: relative;
	z-index: 1000;
}

.footer-left {
	text-align: right;
}

footer li {
	padding: 0px;
	margin: 0px;
	color:gray;
}

footer a {
	color: gray;
}

footer a li:hover {
	color: white;
}

footer img
{
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
footer img:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}